PORT=3000
NODE_ENV=development

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=root
DB_PASSWORD=secret
DB_ROOT_PASSWORD=secret
DB_NAME=automotive_marketplace

REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=